version: 2.1

commands:
  checkout_monorepo:
    description: Checkout the git mono repo with a standard root
    steps:
      - checkout:
          path: /home/circleci/kimbutler.xyz

  opentofu_install:
    description: OpenTofu installation
    steps:
      - run:
          name: Installing OpenTofu
          command: |
            curl --proto '=https' --tlsv1.2 -fsSL https://get.opentofu.org/install-opentofu.sh -o install-opentofu.sh
            chmod +x install-opentofu.sh
            OPENTOFU_VERSION=1.11.4 ./install-opentofu.sh --install-method deb
            rm install-opentofu.sh

  pnpm_install:
    description: PNPM install and link node deps
    steps:
      - run:
          name: Installing PNPM
          command: |
            sudo npm install -g pnpm@9.15.3
            pnpm config set store-dir /home/circleci/.pnpm-store
      - run:
          name: Installing NPM Deps
          command: pnpm install --frozen-lockfile

  attach_made_workspace:
    description: Attach workspace generated files from another job
    steps:
      - attach_workspace:
          at: /home/circleci/kimbutler.xyz

executors:
  default_grace_node_env:
    docker:
      - image: cimg/node:22.22.0
    working_directory: /home/circleci/kimbutler.xyz/domains/grace

  default_tofu_env:
    docker:
      - image: cimg/base:2026.02
    working_directory: /home/circleci/kimbutler.xyz

jobs:
  validate_infrastructure:
    executor: default_tofu_env
    steps:
      - checkout_monorepo
      - opentofu_install
      - run:
          name: Formatting HCL
          command: tofu fmt -recursive -check .

  static_analysis_grace:
    executor: default_grace_node_env
    steps:
      - checkout_monorepo
      - pnpm_install
      - run:
          name: Checking Formatting
          command: pnpm exec prettier --check --ignore-unknown './**/*'
      - run:
          name: Checking Types
          command: |
            pnpm exec astro check
            pnpm exec tsc

  build_grace_static_html:
    executor: default_grace_node_env
    steps:
      - checkout_monorepo
      - pnpm_install
      - run:
          name: Building
          command: pnpm build

workflows:
  "Validate Branch":
    when:
      and:
        - not:
            equal: [production, << pipeline.git.branch >>]
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - validate_infrastructure
      - static_analysis_grace
      - build_grace_static_html
