---
import ContentLayout from "@/layouts/Content.astro";
---

<ContentLayout content={{ title: "Page Not Found" }}>
  <p>Unable to find this page (that&apos;s a 404!). Are you sure this is a valid link?</p>
</ContentLayout>
